.catalogs {
  // padding-top: 30px;
  margin-bottom: 30px;
  .container;
}

.product {
  border: 1px solid #ececec;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product__image {
  margin-bottom: 30px;

  &--hare {
    width: 260px;
    height: 195px;
    background-image: url("../../img/photo-hare-mobile@1x.jpg");
    background-size: cover;
  }

  &--bowl {
    width: 260px;
    height: 195px;
    background-image: url("../../img/photo-bowl-mobile@1x.jpg");
    background-size: cover;
  }

  &--toys {
    width: 260px;
    height: 195px;
    background-image: url("../../img/photo-toys-mobile@1x.jpg");
    background-size: cover;
  }
}

.product__title {
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 10px;
}

.product__info {
  margin: 0 30px;
}

.product__characteristic {
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 25px;
}

.product__price-box {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
  padding: 25px 0;
}

@media (min-width: 768px) {
  .catalogs {
    .container-tablet;
    margin-bottom: 50px;
  }

  .product {
    display: flex;
    margin-bottom: 55px;
  }

  .product__image {
    margin-bottom: 0;
    width: 334px;
    height: 334px;

    &--hare {
      width: 334px;
      height: 334px;
      background-image: url("../../img/photo-hare-tablet@1x.jpg");
      background-size: cover;
    }

    &--bowl {
      width: 334px;
      height: 334px;
      background-image: url("../../img/photo-bowl-tablet@1x.jpg");
      background-size: cover;
    }

    &--toys {
      width: 334px;
      height: 334px;
      background-image: url("../../img/photo-toys-tablet@1x.jpg");
      background-size: cover;
    }
  }

  .product__title {
    margin-top: 25px;
    font-size: 20px;
  }

  .product__characteristic {
    font-size: 15px;
    line-height: 30px;
  }

  .product__info {
    width: 334px;
    display: flex;
    flex-wrap: wrap;
  }

  .product__price-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
  }
}

@media (min-width: 1150px) {
  .catalog__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  .product {
    display: block;
    width: 316px;
  }

  .product__image {
    margin-bottom: 0;
    width: 334px;
    height: 334px;

    &--hare {
      width: 316px;
      height: 462px;
      background-image: url("../../img/photo-hare-desktop@1x.jpg");
      background-size: cover;
    }

    &--bowl {
      width: 316px;
      height: 462px;
      background-image: url("../../img/photo-bowl-desktop@1x.jpg");
      background-size: cover;
    }

    &--toys {
      width: 316px;
      height: 462px;
      background-image: url("../../img/photo-toys-desktop@1x.jpg");
      background-size: cover;
    }
  }

  .product__info {
    width: 253px;
  }
}
