.product {
  border: 1px solid #ececec;

  &__characteristic {
    display: block;
    font-size: 13px;
    line-height: 30px;
  }

  &__price {
    font-size: 15px;
    font-weight: bold;
  }
}

.catalog-product-title {
  font-size: 17px;
  line-height: 24px;
}
