.page-catalog {
  position: relative;
}

.catalogs {
  .container;
  margin-top: 30px;
  margin-bottom: 30px;
}

.product {
  border: 1px solid @gray-color;
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product__image {
  position: relative;
  margin-bottom: 23px;
  background-color: #f1f1f1;
  height: 195px;
  overflow: hidden;
}

.product__image-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product__title {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 12px;
}

.product__info {
  margin: 0 30px;
}

.product__characteristic {
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 25px;
}

.product__price-box {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  padding: 22px 0 28px 0;
  border-top: 1px solid @gray-color;
}

.product__button {
  position: relative;
  width: 30px;
  height: 23px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  margin-right: -8px;
  opacity: 0.3;

  &:hover,
  &:focus {
    fill: @lightgreen-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .catalogs {
    .container-tablet;
    margin-top: 74px;
    margin-bottom: 50px;
  }

  .product {
    display: flex;
    margin-bottom: 51px;
  }

  .product__title {
    font-size: 20px;
    padding-right: 35px;
    margin-bottom: 6px;
    margin-top: 25px;

    &:hover,
    &:focus {
      color: rgba(0, 0, 0, 0.6);
      outline: none;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  .product__image {
    margin-bottom: 0;
    // width: 334px;
    height: 334px;
    overflow: visible;
  }

  .product__name-box {
    // margin-bottom: 147px;
    margin-left: -5px;
    width: 100%;
  }

  .product__characteristic {
    font-size: 15px;
    line-height: 30px;
  }

  .product__info {
    position: relative;
    // width: 334px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .product__price-box {
    position: absolute;
    bottom: -5px;
    left: 0;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    // width: 270px;
    width: 100%;
    // margin-top: auto;
  }

  .product__button {
    margin-right: -4px;
  }
}

@media (min-width: @desctop-width) {
  .catalogs {
    margin-top: 132px;
    margin-bottom: 0;
  }

  .catalogs__list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .product {
    display: block;
    width: 316px;
    margin-right: 50px;

    &:last-child {
      margin-bottom: 50px;
    }

    &:nth-of-type(3n) {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      .product__info {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
      }
    }

    &:active {
      .product__info {
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  .product__title {
    padding-right: 20px;
    // min-height: 48px;
  }

  .product__image {
    margin-bottom: 0;
    width: 315px;
    height: 462px;
  }

  .product__info {
    width: 100%;
    margin: 0;
    padding: 0 30px;
    min-height: 205px;
  }

  .product__characteristic {
    margin-bottom: 15px;
  }

  .product__price-box {
    // position: static;
    left: 28px;
    bottom: 0;
    width: 255px;
  }
}
