.content-shop__item--light {
  background-color: #63d1bb;
}

.content-shop__item--dark {
  background-color: #56c3b2;
}

.content-shop__text-box {
  padding: 28px 0;
}

.content-shop__text {
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
}
