.content-shop__item--light {
  background-color: #63d1bb;
}

.content-shop__item--dark {
  background-color: #56c3b2;
}

.content-shop__text-box {
  position: relative;
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  padding: 27px 0;
  .container;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    width: 40px;
    height: 70px;
    background-image: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  &--interior {
    &::before {
      right: 7px;
    }
  }

  &--game {
    &::before {
      right: -2px;
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-toy.svg");
    }
  }
}

.content-shop__link {
  display: block;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .content-shop {
    .container-tablet;
  }

  .content-shop__list {
    display: flex;
  }

  .content-shop__item {
    width: 50%;
    padding-bottom: 13px;

    &:hover {
      transform: translateY(-5px);
    }

    &:active {
      .content-shop__text-box {
        opacity: 0.3;
      }
    }
  }

  .content-shop__text-box {
    line-height: 30px;
    margin: 0;
    padding: 25px 35px;

    &::before {
      top: 28px;
      right: 35px;
    }
  }
}

@media (min-width: @desctop-width) {
  .content-shop__text-box {
    background-position: 97% center;
  }
}
