.contacts {
  padding-top: 35px;

  &__title {
    font-size: 18px;
    line-height: 30px;
  }

  &__list {
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
    line-height: 30px;
  }

  &__cell {
    vertical-align: top;
    padding-bottom: 30px;
  }

  &__field--right {
    padding-right: 25px;
  }
}
