.footer {
  background-color: #f1f1f1;
  // padding-bottom: 35px;
}

.footer__wrapper-container {
  .container;
}

.footer__logo {
  display: none;
}

.footer__logo-link {
  &:hover,
  &:focus {
    outline: none;
    fill: @lightgreen-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__list-container {
  padding: 25px 0;
  margin-bottom: 15px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid @gray-color;
}

.social__item {
  display: inline-block;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  &:hover,
  &:focus {
    outline: none;
    fill: @lightgreen-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__link {
  &:hover,
  &:focus {
    outline: none;
    fill: @lightgreen-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  line-height: 19px;
  font-weight: bold;
  margin-right: 30px;
}

@media (min-width: @tablet-width) {
  .footer__wrapper-container {
    .container-tablet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }

  .footer__logo {
    display: block;
  }

  .footer__list-container {
    padding: 0;
    margin-bottom: 0;
    margin-right: -75px;
  }

  .social {
    border: none;
  }
}
