.order__description {
  font-size: 13px;
  margin: 25px 0;
}

.form {
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  color: #000000;

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  &__legend {
    color: #63d1bb;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__box-title {
    display: block;
  }

  &__input-element {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000000;
    margin-bottom: 20px;
    padding: 10px 0;

    &::placeholder {
      font-size: 17px;
    }
  }

  &__input-box-title {
    margin-bottom: 15px;
  }

  &__input-textarea {
    width: 100%;
    border: 2px solid #000000;

    &::placeholder {
      font-size: 17px;
    }
  }

  &__button {
    margin-bottom: 55px;
  }
}

.form__box-type,
.form__box-color {
  margin-left: 55px;
  margin-bottom: 35px;
}

.text-required {
  display: block;
  font-weight: 400;
  margin-bottom: 20px;
}
