.order {
  padding-top: 15px;
  padding-bottom: 55px;
}

.order__description {
  font-size: 13px;
  margin-bottom: 25px;
}

.form {
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  color: #000000;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.form__legend {
  color: #63d1bb;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.form__box-title {
  display: block;
}

.form__input-element {
  width: 100%;
  border: none;
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
  padding: 10px 0;

  &::placeholder {
    font-size: 17px;
  }
}

.form__input-box-title {
  margin-bottom: 15px;
}

.form__input-textarea {
  width: 100%;
  border: 2px solid #000000;
  padding: 10px;

  &::placeholder {
    font-size: 17px;
  }
}

.form__box-type,
.form__box-color {
  padding-left: 55px;
  margin-bottom: 35px;
}

.text-small {
  display: block;
  font-weight: 400;
  margin-bottom: 20px;
}
