.nav {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
  z-index: 1;
}

.nav__link {
  position: relative;
  padding: 28px 0;
  padding-left: 44px;
  text-decoration: none;
  .container;
  color: rgba(0, 0, 0, 1);

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.header__logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid @gray-color;
}

.header__logo {
  background-image: url("../img/logo-mobile.svg");
  background-size: 90px 35px;
  background-repeat: no-repeat;
  background-position: center;
  width: 260px;
  height: 80px;
}

.header__logo:hover {
  opacity: 0.6;
}

.header__logo:active {
  opacity: 0.3;
}

.nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;

  width: 26px;
  height: 22px;

  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.nav__button-icon {
  position: absolute;
  top: 0;
  display: none;
}

.nav--nojs .nav__toggle {
  display: none;
}

.site-list__item,
.user-list__item {
  border-bottom: 1px solid @gray-color;
}

.user-list__item-box {
  position: relative;
}

.user-list__search {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  border: none;
  background-color: transparent;

  &::placeholder {
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    color: #000000;
  }
}

.user-list__basket--icon,
.user-list__search--icon {
  position: absolute;
  left: 0;
  top: 30px;
}

.user-list__item-search,
.user-list__basket {
  &:hover {
    fill: @lightgreen-color;
  }

  &:active {
    fill: @lightgreen-color;
    opacity: 0.3;
  }
}

.new-list {
  display: none;
}

@media (max-width: @tablet-width) {
  .nav--closed .site-list {
    display: none;
  }

  .nav--closed .user-list {
    display: none;
  }

  .nav--closed .nav--icon-closed {
    background-image: url("../img/icon-menu-open.svg");
    background-size: 21px 14px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .nav--opened .nav--icon-opened {
    background-image: url("../img/icon-menu-close.svg");
    background-size: 21px 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: @tablet-width) {
  .header-container {
    .container-tablet;
  }

  .header__logo {
    width: 167px;
    background-image: url("../img/logo-tablet.svg");
    background-size: 113px 46px;
    background-position: left center;
  }

  .header__logo-box {
    border-bottom: none;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav__list {
    display: flex;
    min-height: 90px;
  }

  .nav__link {
    margin: 0;
    padding: 30px 0 20px 0;
  }

  .nav__link-site {
    padding: 15px 0;
  }

  .site-list {
    font-size: 15px;
    order: 2;
  }

  .user-list {
    order: 1;
  }

  .site-list__item,
  .user-list__item {
    border: none;
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
  }

  .user-list__item-search {
    padding: 0 30px;
    margin-right: 0;
    border-left: 1px solid @gray-color;
    border-right: 1px solid @gray-color;
  }

  .user-list__search {
    display: none;

    &--icon {
      position: static;
    }
  }

  .user-list__basket--icon {
    position: static;
    margin: 0 30px;
  }

  .nav__toggle {
    display: none;
  }

  .new-list {
    display: none;
  }
}

@media (min-width: @desctop-width) {
  .header__logo {
    background-image: url("../img/logo-desktop.svg");
    background-size: 149px 72px;
  }

  .site-list {
    order: -1;
  }

  .site-list__item {
    padding-right: 35px;
    margin-right: 35px;
    border-right: 1px solid @gray-color;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }

  .nav__link-site {
    font-size: 17px;
    padding: 28px 0;
  }

  .new-list {
    display: flex;
    order: 3;
  }

  .new-list__item {
    font-size: 15px;
    line-height: 24px;
    margin-right: 63px;
    padding-top: 15px;
  }
}
