.map {
  width: 320px;
  height: 457px;
  background-color: #f4e9d7;
}

@media (min-width: @tablet-width) {
  .map {
    width: 768px;
  }
}

@media (min-width: @desctop-width) {
  .map {
    width: 525px;
  }
}
