.map {
  width: 320px;
  height: 457px;
  background-image: url("../img/map-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .map {
    width: 768px;
    background-image: url("../img/map-tablet@1x.jpg");
  }
}

@media (min-width: 1150px) {
  .map {
    width: 525px;
    background-image: url("../img/map-desktop@1x.jpg");
  }
}
