.page-title-box {
  padding: 72px 0;
  background-color: #f1f1f1;
  text-align: center;
  margin-bottom: 30px;
}

.page-title {
  font-size: 27px;
  line-height: 30px;
  .container;
}

@media (min-width: 768px) {
  .catalog {
    margin-top: -90px;
  }

  .page-title-box {
    padding: 90px 0;
    margin-bottom: 85px;
  }

  .page-title {
    font-size: 43px;
    line-height: 50px;
    .container-tablet;
  }
}

@media (min-width: 1150px) {
  .catalog {
    margin-top: 0;
  }

  .page-title {
    font-size: 53px;
    line-height: 57px;
  }
}
