.page-title-box {
  padding: 70px 0 74px 0;
  background-color: #f1f1f1;
  text-align: center;
}

.page-title {
  font-size: 27px;
  line-height: 30px;
  .container;
}

@media (min-width: @tablet-width) {
  .catalog {
    margin-top: -90px;
  }

  .page-title-box {
    padding: 90px 0;
  }

  .page-title {
    font-size: 43px;
    line-height: 50px;
    .container-tablet;
  }
}

@media (min-width: @desctop-width) {
  .catalog {
    margin-top: 0;
  }

  .page-title-box {
    padding: 91px 0 101px 0;
  }

  .page-title {
    font-size: 53px;
    line-height: 57px;
  }
}
