.production {
  border: 1px solid @gray-color;
  padding: 23px 0;
  .container;
  margin-bottom: 65px;
}

.production__title-box {
  margin: 0 30px;
}

.production__title {
  position: relative;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -56px;
    width: 32px;
    height: 30px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }
}

.production__image {
  position: relative;
  display: flex;
  width: 260px;
  height: 150px;
  background-image: url("../img/video-mobile@1x.jpg");
  background-size: cover;

  &::before {
    content: "";
    display: block;
    width: 101px;
    height: 77px;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }

  &:hover {
    &::before {
      transform: scale(1.2);
    }
  }

  &:active {
    &::before {
      transform: scale(0.8);
      opacity: 0.7;
    }
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }
}

.production__info {
  margin: 0 30px;
}

.production__description {
  font-size: 13px;
  margin: 25px 0;
  padding-right: 10px;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .production {
    display: flex;
    flex-direction: column;
    .container-tablet;
    padding: 0;
    margin-bottom: 70px;
  }

  .production__image {
    order: -1;
    background-image: url("../img/video-tablet@1x.jpg");
    width: 668px;
    height: 455px;
    margin-bottom: 40px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .production__info {
    margin: 0 40px;
  }

  .production__title {
    font-size: 20px;
    margin-left: 77px;
    margin-bottom: 32px;

    &::before {
      top: -5px;
      left: -63px;
    }
  }

  .production__description {
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }

  .production__button {
    margin: 35px 0;
  }
}

@media (min-width: @desctop-width) {
  .production {
    flex-wrap: wrap;
    height: 452px;
    margin-bottom: 107px;
  }

  .production__info {
    width: 350px;
    margin: 0;
    padding: 0 50px 0 74px;
  }

  .production__title-box {
    margin: 0;
    margin-top: 94px;
    margin-bottom: 34px;
    padding: 0 0 0 74px;
  }

  .production__description {
    margin-bottom: 10px;
  }

  .production__title {
    width: 180px;
    margin: 0;

    &::before {
      top: -52px;
      left: 0;
    }
  }

  .production__image {
    background-image: url("../img/video-desktop@1x.jpg");
    width: 682px;
    margin-bottom: 0;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}
