.product-week {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: cover;
  }
}

.product-week__wrapper {
  .container;
  padding-bottom: 35px;
}

/*Временно*/
.product-container {
  display: flex;
  flex-direction: column;
}

.product-week__title {
  margin-bottom: 5px;
}

.product-week__title-small {
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  margin: 0;
}

.product-week__description {
  font-size: 15px;
  margin-top: 22px;
}

.product-week__table-box {
  margin-bottom: 33px;
}

.product-week__table {
  width: 100%;
  font-size: 15px;
  border-collapse: collapse;
}

.product-week__row {
  border-bottom: 1px solid @gray-color;
}

.product-week__cell {
  padding: 7px 0;
}

.product-week__cell--right {
  padding-right: 17px;
}

.product-week__image {
  margin-bottom: 25px;
  width: 260px;
  height: 315px;
  background-color: #f1f1f1;
}

.product-week__price {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  margin-bottom: 25px;
}

.product-week__button {
  display: block;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .product-week {
    &::after {
      height: 17px;
      bottom: -7px;
    }
  }

  .product-week__wrapper {
    position: relative;
    .container-tablet;
    padding-bottom: 55px;
  }

  .product-week__box-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  .product-week__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 0;
  }

  .product-week__title-small {
    width: 100px;
    text-align: center;
    margin-right: 13px;
    margin-bottom: -9px;
    font-size: 16px;
    line-height: 16px;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex-wrap: wrap;
    min-height: 420px;
  }

  .product-week__description {
    font-size: 17px;
    line-height: 30px;
    width: 334px;
    padding-right: 45px;
    margin: 0;
    margin-bottom: 36px;
  }

  .product-week__table-box {
    width: 334px;
    // padding-right: 30px;
    margin-bottom: 59px;
  }

  .product-week__table {
    width: 85%;
  }

  .product-week__cell--right {
    padding: 0;
  }

  .product-week__price {
    font-size: 20px;
    width: 334px;
    padding-right: 45px;
    margin-bottom: 35px;
  }

  .product-week__button-box {
    width: 334px;
    padding-right: 45px;
  }

  .product-week__image {
    order: 1;
    position: absolute;
    top: 101px;
    right: 0;
    width: 333px;
    height: 404px;
    margin: 0;
    margin-top: 7px;
  }
}

@media (min-width: @desctop-width) {
  .product-week {
    min-height: 640px;
    .container-tablet;

    &::after {
      bottom: -10px;
      height: 24px;
    }
  }

  .product-week__wrapper {
    padding-left: 175px;
    padding-top: 60px;
    padding-bottom: 85px;
    margin: 0;
  }

  .product-container {
    min-height: 480px;
  }

  .product-week__image {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 525px;
    height: 634px;
  }

  .product-week__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: -2px;
  }

  .product-week__title-small {
    position: absolute;
    top: 17px;
    left: -141px;
  }

  .product-week__description {
    margin-bottom: 47px;
  }

  .product-week__table-box {
    margin-bottom: 115px;
  }

  .product-week__cell--right {
    padding-right: 6px;
  }

  .product-week__button-box {
    padding-right: 40px;
  }
}
