.product-week {

  &__title-small {
    font-size: 18px;
    line-height: 20px;
    color: #63d1bb;
  }

  &__description {
    font-size: 15px;
  }

  &__list {
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;
  }

  &__row {
    border-bottom: 1px solid #cccccc;
  }

  &__cell {
    padding: 10px 0;
  }

  &__price {
    display: block;
    font-weight: bold;
    color: #444444;
    text-align: center;
  }
}

