.production {
  border: 1px solid #ececec;
  padding: 30px 0;
  margin-bottom: 55px;
  .container;
}

.production__title-box {
  margin: 0 30px;
}

.production__title {
  margin: 0;
  margin-left: 55px;
  margin-bottom: 25px;
}

.production__image {
  width: 260px;
  height: 150px;
  background-image: url("../../img/video-mobile@1x.jpg");
  background-size: cover;
}

.production__info {
  margin: 0 30px;
}

.production__description {
  font-size: 13px;
  margin: 25px 0;
  color: #444444;
}

@media (min-width: 768px) {
  .production {
    display: flex;
    flex-direction: column;
    .container-tablet;
    padding: 0;
    margin-bottom: 60px;
  }

  .production__image {
    order: -1;
    background-image: url("../../img/video-tablet@1x.jpg");
    width: 668px;
    height: 455px;
    margin-bottom: 35px;
  }

  .production__description {
    font-size: 15px;
    line-height: 30px;
    margin: 0;
  }

  .production__button {
    margin: 40px 0;
  }
}

@media (min-width: 1150px) {
  .production {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .production__info {
    width: 350px;
  }

  .production__image {
    background-image: url("../../img/video-desktop@1x.jpg");
    width: 682px;
  }
}
