.product-week {
  .container;
  padding-bottom: 35px;
}

.product-week__title {
  margin-bottom: 5px;
}

.product-week__title-small {
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  margin: 0;
}

.product-week__description {
  font-size: 15px;
  margin-top: 22px;
}

.product-week__table-box {
  margin-bottom: 33px;
}

.product-week__table {
  width: 100%;
  font-size: 15px;
  border-collapse: collapse;
}

.product-week__row {
  border-bottom: 1px solid @gray-color;
}

.product-week__cell {
  padding: 7px 0;
}

.product-week__cell--right {
  padding-right: 30px;
}

.product-week__image {
  margin-bottom: 25px;
  width: 260px;
  height: 315px;
  background-image: url("../img/triple-set-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.product-week__price {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  margin-bottom: 25px;
}


@media (min-width: @tablet-width) {
  .product-week {
    .container-tablet;
    // min-height: 570px;
    padding-bottom: 55px;
  }

  .product-week__box-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
  }

  .product-week__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 0;
  }

  .product-week__title-small {
    width: 100px;
    text-align: center;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex-wrap: wrap;
    height: 420px;
  }

  .product-week__description {
    font-size: 17px;
    line-height: 30px;
    width: 334px;
    padding-right: 45px;
    margin: 0;
    margin-bottom: 36px;
  }

  .product-week__table-box {
    width: 334px;
    // padding-right: 30px;
    margin-bottom: 57px;
  }

  .product-week__table {
    width: 85%;
  }

  .product-week__cell--right {
    padding: 0;
  }

  .product-week__price {
    font-size: 20px;
    width: 334px;
    padding-right: 45px;
    margin-bottom: 35px;
  }

  .product-week__button-box {
    width: 334px;
    padding-right: 45px;
  }

  .product-week__image {
    order: 1;
    width: 333px;
    height: 404px;
    margin: 0;
    margin-top: 7px;
    background-image: url("../img/triple-set-tablet@1x.jpg");
  }
}

@media (min-width: @desctop-width) {
  .product-week {
    position: relative;
    min-height: 640px;
    padding-left: 175px;
    padding-top: 60px;
    padding-bottom: 85px;
    // margin-bottom: 80px;
  }

  .product-container {
    height: 480px;
  }

  .product-week__image {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 525px;
    height: 634px;
    background-image: url("../img/triple-set-desktop@1x.jpg");
  }

  .product-week__title {
    font-size: 53px;
    line-height: 57px;
  }

  .product-week__title-small {
    position: absolute;
    top: 14px;
    left: -141px;
  }

  .product-week__description {
    margin-bottom: 47px;
  }

  .product-week__table-box {
    margin-bottom: 111px;
  }
}
