.reviews {
  &__description {
    font-size: 15px;
    line-height: 30px;
  }

  &__autor-name {
    display: block;
    font-weight: bold;
    // margin-bottom: 10px;
  }

  &__autor-login {
    display: block;
    // margin-bottom: 30px;
  }

  &__toggles {
    font-size: 0;
  }
}

.slider {
  &__toggles {
    // margin-bottom: 40px;
  }

  &__toggle {
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #000000;
    width: 50%;
    height: 50px;
  }
}
