.reviews {
  margin-bottom: 30px;
}

.reviews__container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  .container;
}

.reviews__description {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__autor-name {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.reviews__toggles {
  display: flex;
  width: 260px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.slider__toggle {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #ececec;
  width: 50%;
  height: 50px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 40px;
    width: 50px;
    height: 26px;
    background-image: url("../img/icon-left-arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--next {
    &::before {
      background-image: url("../img/icon-right-arrow.svg");
    }
  }
}

.reviews__write {
  text-decoration: none;
}

@media (min-width: 768px) {
  .reviews {
    background-image: url("../img/review@1x.jpg");
    background-size: 350px 457px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
  }

  .reviews__container {
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    .container-tablet;
  }

  .reviews__toggles {
    width: 170px;
    order: 5;
  }

  .slider__toggle {
    border: none;

    &::before {
      left: 16px;
    }
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__write {
    order: 1;
    width: 170px;
  }

  .reviews__description {
    font-size: 17px;
    order: 2;
    margin-top: 45px;
  }

  .reviews__autor-block {
    order: 3;
  }

  .reviews__autor-login {
    order: 4;
  }
}

@media (min-width: 1150px) {
  .reviews {
    padding-left: 175px;
    .container-tablet;
    margin-bottom: 70px;
  }

  .reviews__container {
    margin: 0;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__description {
    padding-right: 100px;
  }
}
